.header {
  height: 56px;
  width: 100%;
  box-shadow: 0 0 10px black;
  background-color: black;
  position: fixed;
  top: 0;
}

.header-left {
  float:left;
}

.header-right {
  float: right;
}

.clear {
  clear: both;
}

.header-logo {
  height: 40px;
  margin-top: 8px;
}

.header-right a {
  line-height: 56px;
  color: white;
  margin-left: 5px;
}

